@media only screen and (max-width: 768px) {
    .outer-left-image{
        display:none;
    }
    .login-and-sign-up-part{
        padding:15px;
        width:100%;
    }
    .signInMain{
        margin-top: 30px;
    }
  }